<p id="notice"><%= notice %></p>

<p>
  <strong>Cont:</strong>
  <%= @micropost.cont %>
</p>

<p>
  <strong>Id user:</strong>
  <%= @micropost.id_user %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @micropost.animal %>
</p>

<%= link_to 'Edit', edit_micropost_path(@micropost) %> |
<%= link_to 'Back', microposts_path %>
